
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;

}

#status
{
font-size: 18px;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
}

canvas{
    border-style: groove;
    border-width: 2px;
    box-shadow: 5px 5px 20px blue;
    background-color: black;
}